@import 'config';
@import 'utilities';
@import 'form';

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 1rem;
   line-height: 1.6;
   background-color: #fff;
   color: #333;
   overflow-x: hidden;
}

.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0.7rem 2rem;
   position: fixed;
   z-index: 2;
   width: 100%;
   top: 0;
   border-bottom: 1px solid $primary-color;
   opacity: 0.9;

   ul {
      display: flex;
   }

   a {
      color: white;
      padding: 0.45rem;
      margin: 0 0.25rem;
      @include easeOut;

      &:hover {
         color: $primary-color;
      }
   }
}

// LANDING
.landing {
   position: relative;
   background: url(../img/showcase.jpg) no-repeat center center/cover;
   height: 100vh;

   &-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      width: 80%;
      margin: auto;
      color: #fff;
      text-align: center;
   }
}

// PROFILES PAGE
.profile {
   display: grid;
   grid-template-columns: 2fr 4fr 2fr;
   grid-gap: 2rem;
   align-items: center;
   padding: 1rem;
   line-height: 1.8;
   margin-bottom: 1rem;
}
// PROFILE PAGE
.profile-grid {
   display: grid;
   grid-template-areas:
      'top top'
      'about about'
      'exp edu'
      'github github';
   grid-gap: 1rem;

   .profile-top {
      grid-area: top;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .icons a {
         color: #fff;
         margin: 0 0.3rem;
      }
   }

   .profile-about {
      grid-area: about;
      text-align: center;

      .skills {
         display: flex;
         align-items: center;
         justify-content: center;
         text-align: center;
      }
   }

   .profile-exp {
      grid-area: exp;
   }

   .profile-edu {
      grid-area: edu;
   }

   .profile-exp,
   .profile-edu {
      div {
         margin-bottom: 1rem;
         padding-bottom: 1rem;
         border-bottom: 1px dotted #ccc;

         &:last-child {
            border: none;
         }
      }

      p {
         margin: 0.5rem 0;
      }
   }

   .profile-github {
      grid-area: github;

      .repo {
         display: flex;
         align-items: center;
         justify-content: center;

         & > div:first-child {
            flex: 7;
            flex-basis: 70%;
         }

         & > div:last-child {
            flex: 3;
            flex-basis: 20%;
         }
      }
   }
}

// REGISTER PAGE
.error::placeholder {
   font-weight: 200;
   letter-spacing: 1px;
   font-family: inherit;
   display: block;
   color: $danger-color;
   @include easeOut;
}

.section-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: left;

   .success-alert {
      position: fixed;
      top: 4rem;
      right: -50%;
      display: flex;
      flex-flow: column;
   }

   .show-success-alert {
      @include set-background($success-color);
      width: 25rem;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 4rem;
      right: 0;
      border-bottom: 3px solid lighten($success-color, 20%);
      transition: all 4s ease-out;
   }
}

// LOGIN PAGE

// POST PAGE
.post-form-header {
   padding: 0.5rem;
}

.post {
   display: grid;
   grid-template-columns: 1fr 4fr;
   grid-gap: 2rem;
   align-items: center;

   & > div:first-child {
      text-align: center;
   }

   img {
      width: 150px;
   }
}

.post-comment {
   img {
      width: 75px;
   }
}

.dashboard-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

@import 'mobile';
